<%= link_to("<< Back to List", books_path, :class => 'back-link') %>

<div class="subjects new">
  <h2>Create Book</h2>

  <%= form_for(@book) do |f| %>

  	<table summary="Subject form fields">
    <tr>
      <th>Title</th>
      <td><%= f.text_field(:title) %></td>
    </tr>
    <tr>
      <th>Genre</th>
      <td><%= f.select :genre, [ 'Mystery', 'Romance', 'Fantasy', 'Sci-Fi', 'Other' ], :prompt => 'Select One' %></td>
    </tr>
    <tr>
      <th>Author</th>
      <td><%= f.text_field(:author) %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= f.datetime_select(:created_at, :order =>[:month,:day,:year]) %></td>
    </tr>
  </table>

    <div class="form-buttons">
      <%= f.submit("Add Book") %>
    </div>

  <% end %>
</div>
